.AnisFacialContainer {
  display: flex;
}

.FacialContainerDisplay {
  background-color: aliceblue;
  width: 100vw;
}

@media screen and (max-width: 767px) {
  .AnisFacialContainer {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .MobileFacialContainer {
    display: none;
  }
}
